@font-face {
  font-family: "FuturaBookC";
  src: url("./src/assets/fonts/FuturaBookC.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 20vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 500px) {
  .header {
    height: 40vw;
  }
}

body {
  background: url("./src/assets/images/tree.jpg") center center/cover no-repeat fixed;
}

.main-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.person-image {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
}

@media screen and (max-width: 500px) {
  .person-image {
    width: 28vw;
    height: 30vw;
  }
}

.personal-information {
  margin-left: 3vw;
}

@media screen and (max-width: 500px) {
  .personal-information {
    margin-left: 1vw;
  }
}

.person-name {
  font-style: normal;
  font-weight: 600;
  font-size: 2.6vw;
  line-height: 4vw;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-family: "FuturaBookC";
  color: #043846;
}

@media screen and (max-width: 500px) {
  .person-name {
    font-size: 5.6vw;
    line-height: 8vw;
    padding-top: 4%;
  }
}

.social-links__header {
  padding-top: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 500px) {
  .social-links__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 1%;
    padding-left: 10%;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2vw;
  list-style: none;
  font-size: 1.4vw;
  line-height: 3vw;
  font-family: "FuturaBookC";
  font-weight: 500;
  padding-bottom: 5px;
}

@media screen and (max-width: 500px) {
  .header__list {
    font-size: 3.8vw;
    line-height: 6vw;
  }
}

.header__list .social-links__img {
  margin-right: 5%;
  width: 3vw !important;
  height: 3vw !important;
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media screen and (max-width: 500px) {
  .header__list .social-links__img {
    width: 5vw !important;
    height: 5vw !important;
  }
}

.header__href {
  text-decoration: none;
  color: #000000;
}

.header__href:hover {
  color: #ec9f05;
}

.education {
  width: 90vw;
  margin: 0 auto;
  margin-top: 3vw;
  margin-bottom: 2vw;
}

.collapsible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90vw;
  height: 5vw;
  margin: 0 auto;
  border-radius: 3vw;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: rgba(0, 0, 0, 0.034);
  cursor: pointer;
  outline: none;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  background: rgba(211, 64, 27, 0.801);
  -webkit-box-shadow: 0.3vw 0.3vw #989898, 0.6vw 0.6vw #6c6666;
          box-shadow: 0.3vw 0.3vw #989898, 0.6vw 0.6vw #6c6666;
}

.collapsible:active {
  -webkit-box-shadow: 1px 1px #989898;
          box-shadow: 1px 1px #989898;
}

@media screen and (max-width: 500px) {
  .collapsible {
    width: 80vw;
    -webkit-box-shadow: 0.6vw 0.6vw #414141, 1.2vw 1.2vw #6c6666;
            box-shadow: 0.6vw 0.6vw #414141, 1.2vw 1.2vw #6c6666;
    border-radius: 5vw;
    height: 8.5vw;
  }
}

.collapsible__education-text {
  margin-left: 6.8%;
  font-size: 2vw;
  line-height: 2vw;
  font-family: "Lato", Arial, sans-serif;
  color: #043846;
  color: white;
}

@media screen and (max-width: 500px) {
  .collapsible__education-text {
    font-size: 4vw;
    line-height: 6vw;
  }
}

.collapsible__education-img,
.collapsible__summary-img,
.collapsible__skills-img,
.collapsible__english-img {
  width: 2.8vw;
  margin-right: 4vw;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

@media screen and (max-width: 500px) {
  .collapsible__education-img,
  .collapsible__summary-img,
  .collapsible__skills-img,
  .collapsible__english-img {
    width: 5vw;
    margin-right: 6vw;
  }
}

.active-button {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.education-list {
  width: 80%;
  margin-top: 2%;
}

@media screen and (max-width: 500px) {
  .education-list {
    width: 80%;
  }
}

.education-list__item {
  font-size: 1.4vw;
  line-height: 3.5vw;
  font-family: "Lato", Arial, sans-serif;
  color: black;
}

@media screen and (max-width: 500px) {
  .education-list__item {
    font-size: 3vw;
    line-height: 6vw;
  }
}

.education-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.education-item_years {
  width: 50%;
  font-style: italic;
  color: black;
}

.education-item_years span {
  font-style: normal;
  margin-right: 0.5vw;
}

.education-item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.education-item__title {
  font-weight: bold;
}

.education-item__desc {
  padding-left: 1vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.education-item__desc-link {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.5vw;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(179, 26, 6, 0.801)), to(rgba(179, 26, 6, 0.801))), -webkit-gradient(linear, left top, left bottom, color-stop(50%, silver), color-stop(50%, silver));
  background-image: linear-gradient(rgba(179, 26, 6, 0.801), rgba(179, 26, 6, 0.801)), linear-gradient(silver 50%, silver 50%);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 0 2px, 100% 2px;
  color: #00ccff;
  padding-bottom: 0.4vw;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

@media screen and (max-width: 500px) {
  .education-item__desc-link {
    font-size: 3vw;
  }
}

.education-item__desc-link:hover {
  background-size: 100% 2px, 100% 2px;
  color: rgba(179, 26, 6, 0.801);
}

.content {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.summary {
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 2vw;
}

.collapsible__summary-text {
  margin-left: 6.8%;
  font-size: 2vw;
  line-height: 2vw;
  font-family: "Lato", Arial, sans-serif;
  color: #043846;
  color: white;
}

@media screen and (max-width: 500px) {
  .collapsible__summary-text {
    font-size: 4vw;
    line-height: 6vw;
  }
}

.summary-list {
  margin-top: 2%;
  list-style-type: none;
}

.summary-list__item {
  font-size: 1.4vw;
  line-height: 3vw;
  font-family: "Lato", Arial, sans-serif;
  color: black;
}

.summary-list__item span {
  margin-right: 0.5vw;
}

@media screen and (max-width: 500px) {
  .summary-list__item {
    font-size: 3vw;
    line-height: 6vw;
  }
}

.skills {
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 2vw;
}

.collapsible__skills-text {
  margin-left: 6.8%;
  font-size: 2vw;
  line-height: 2vw;
  font-family: "Lato", Arial, sans-serif;
  color: white;
}

@media screen and (max-width: 500px) {
  .collapsible__skills-text {
    font-size: 4vw;
    line-height: 6vw;
  }
}

.skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2%;
  list-style-type: none;
  width: 80%;
}

.skills-list__item {
  margin-right: 2vw;
  font-size: 1.4vw;
  line-height: 3vw;
  font-family: "Lato", Arial, sans-serif;
  color: black;
}

@media screen and (max-width: 500px) {
  .skills-list__item {
    font-size: 3vw;
    line-height: 6vw;
  }
}

.english {
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 2vw;
}

.collapsible__english-text {
  margin-left: 6.8%;
  font-size: 2vw;
  line-height: 2vw;
  font-family: "Lato", Arial, sans-serif;
  color: white;
}

@media screen and (max-width: 500px) {
  .collapsible__english-text {
    font-size: 4vw;
    line-height: 6vw;
  }
}

.english-info {
  margin-top: 2%;
  font-size: 1.4vw;
  line-height: 3.5vw;
  font-family: "Lato", Arial, sans-serif;
  color: black;
}

.english-info span {
  margin-right: 0.5vw;
}

@media screen and (max-width: 500px) {
  .english-info {
    font-size: 3vw;
    line-height: 6vw;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 7vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #edeef0;
}

@media screen and (max-width: 500px) {
  .footer {
    height: 9vw;
  }
}

.social-links__footer {
  padding-bottom: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 500px) {
  .social-links__footer {
    padding-top: 1%;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2vw;
  list-style: none;
  font-size: 1.4vw;
  line-height: 3vw;
  font-family: "FuturaBookC";
  font-weight: 500;
  padding-bottom: 5px;
}

@media screen and (max-width: 500px) {
  .footer__list {
    font-size: 3.8vw;
    line-height: 6vw;
  }
}

.footer__list .social-links__img {
  margin-right: 5%;
  width: 3vw !important;
  height: 3vw !important;
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media screen and (max-width: 500px) {
  .footer__list .social-links__img {
    width: 5vw !important;
    height: 5vw !important;
  }
}

.footer {
  background-color: black;
  height: 15vw;
}

@media screen and (max-width: 500px) {
  .footer {
    height: 30vw;
  }
}

.footer__href {
  text-decoration: none;
  color: #000000;
}

.footer__href:hover {
  color: #ec9f05;
}

.contacts {
  margin: 0 auto;
  width: 60vw;
  text-decoration: none;
  color: #000000;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: 2px solid #145c70;
  padding-bottom: 2vw;
  font-size: 1.4vw;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90vw;
    font-size: 3vw;
    line-height: 4vw;
    padding-bottom: 3vw;
  }
}

.author {
  margin: 1vw;
}

.contacts__link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.7vw;
  color: #00ccff;
}

@media screen and (max-width: 500px) {
  .contacts__link {
    font-size: 3.2vw;
  }
}

.contacts__item {
  padding: 0 2vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__label {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.8vw;
  color: white;
  margin-bottom: 0.8vw;
}

@media screen and (max-width: 500px) {
  .contacts__label {
    font-size: 3.2vw;
    margin-bottom: 1.2vw;
  }
}

.project-new {
  margin: 0 auto;
  padding-top: 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
  .project-new {
    padding-top: 14vw;
  }
}

.project-new_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 42vw;
  height: 30vw;
  border-radius: 2.5vw;
  margin-bottom: 6vw;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -webkit-box-shadow: 1vw 1vw 2vw #0003;
          box-shadow: 1vw 1vw 2vw #0003;
  position: relative;
  background: #646464 radial-gradient(circle at 50% 0, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.35));
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px, inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
          box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px, inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
}

@media screen and (max-width: 500px) {
  .project-new_item {
    margin-bottom: 12vw;
    border-radius: 5vw;
    width: 80vw;
    height: 60vw;
  }
}

.project-new_item::before {
  font-family: "FuturaBookC";
  content: 'default';
  color: #043867;
  font-size: 3vw;
  position: absolute;
  top: -4.2vw;
}

@media screen and (max-width: 500px) {
  .project-new_item::before {
    font-size: 5vw;
    top: -7.5vw;
  }
}

.project-new_item__list-group {
  margin-top: 4vw;
  font-family: "FuturaBookC";
  font-size: 1.7vw;
  padding: 1vw;
  list-style: none;
  border-radius: 1vw;
  background-color: rgba(27, 101, 166, 0.678);
  color: white;
  -webkit-transition: 700ms ease-out;
  transition: 700ms ease-out;
}

@media screen and (max-width: 500px) {
  .project-new_item__list-group {
    font-size: 3.4vw;
    margin-top: 7vw;
    padding: 2vw;
    border-radius: 2vw;
  }
}

.project-new_item__buttons-group {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.project-new_item:hover .link-to-github,
.project-new_item:hover .link-to-deploy {
  opacity: 1;
  -webkit-transform: translateY(-4vw);
          transform: translateY(-4vw);
}

.link-to-github, .link-to-deploy {
  border-radius: 0.8vw;
  margin-bottom: 0;
  opacity: 0;
  -webkit-transition: 600ms ease-in;
  transition: 600ms ease-in;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5vw;
  color: #ffffff;
  padding: 0.7vw 2vw;
  background: -moz-linear-gradient(top, #42aaff 0%, #003366);
  background: -webkit-gradient(linear, left top, left bottom, from(#42aaff), to(#003366));
  border: 1px solid #003366;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 1px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 1px rgba(255, 255, 255, 0.5);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.7), 0px 1px 0px rgba(255, 255, 255, 0.3);
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .link-to-github, .link-to-deploy {
    border-radius: 2vw;
    font-size: 3vw;
    padding: 2vw 5vw;
  }
}

.link-to-github:active, .link-to-deploy:active {
  background: -moz-linear-gradient(top, #003366 0%, #42aaff);
  background: -webkit-gradient(linear, left top, left bottom, from(#003366), to(#42aaff));
}

.link-to-github:hover, .link-to-deploy:hover {
  background: -moz-linear-gradient(top, #42aaff 0%, #0d5aa7);
  background: -webkit-gradient(linear, left top, left bottom, from(#42aaff), to(#0d5aa7));
}

.repair-design-project {
  background: url("./src/assets/images/repair-design.jpg") no-repeat center top/cover;
}

.fancy-weather {
  background: url("./src/assets/images/weather.jpg") no-repeat center top/cover;
}

.simple-piskel-clone {
  background: url("./src/assets/images/simple-piskel-clone.jpg") no-repeat left top/cover;
}

.todo {
  background: url("./src/assets/images/todolist.jpg") no-repeat center top/cover;
}

.culture-portal {
  background: url("./src/assets/images/culture-portal.jpg") no-repeat center top/cover;
}

.songbird {
  background: url("./src/assets/images/song.jpg") no-repeat center top/cover;
}

.repair-design-project::before {
  content: 'Repair-design-project';
}

.fancy-weather::before {
  content: 'Fancy-weather';
}

.simple-piskel-clone::before {
  content: 'Simple-piskel-clone';
}

.todo::before {
  content: 'Todo-list';
}

.culture-portal::before {
  content: 'Culture-portal';
}

.songbird::before {
  content: 'Songbird';
}
/*# sourceMappingURL=style.css.map */